/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), Arial, sans-serif;
  font-variation-settings: "wght" var(--wgth-font-family);
  background-image: 
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--main-text-size);
  color: var(--text-main-color);
  padding-block-start: 100px;
  justify-content: center;
  align-content: start;

}

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--second-family), Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--back-color);
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid var(--border-color);
  text-align: center;
  gap: 20px;
}

.header__title {
  font-size: var(--header-title-size);
  font-weight: inherit;
}

.header__text {
  font-size: var(--header-text-size);
}

.main-content {
  padding-block-start: 100px;
  display: grid;
  gap: 50px;
}

.card {
  width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid var(--border-color);
  background-color: var(--back-color);
}

.card__title {
  padding-block: 5px;
  font-size: var(--text-size);
  font-variation-settings: "wght" var(--title-wgth-font-family);
  padding-inline: 10px;
  border-bottom: 2px solid var(--border-color);
}

.card__image {
  position: relative;
}

.image__span {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  z-index: 1;
  font-family: var(--second-family), Arial, sans-serif;
  font-size: var(--span-text-size);
  font-weight: inherit;
  text-transform: uppercase;
  color: var(--text-main-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow:
  -1px 0 var(--shadow-color), 
  0 1px var(--shadow-color), 
  1px 0 var(--shadow-color), 
  0 -1px var(--shadow-color);
}

@supports((text-stroke: 1px var(--shadow-color)) or (-webkit-text-stroke: 1px var(--shadow-color))) {
  .image__span {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.filter-dream {
  filter: hue-rotate(30deg) brightness(150%) saturate(158%);
}

.filter-greyness {
  filter: grayscale(0.9) brightness(50%);
}

.filter-relax {
  filter: hue-rotate(27deg) blur(0.25rem);
}

.filter-uncertainty {
  filter: sepia(80%);
}

.filter-inspiration {
  filter: hue-rotate(15deg) contrast(150%);
}

.filter-wait {
  filter: contrast(150%) hue-rotate(120deg);
}

.filter-happy-tiredness {
  filter: contrast(190%) hue-rotate(-25deg);
}

.filter-second-wind {
  filter: brightness(125%) hue-rotate(-50deg);
}

.card__text {
  display: grid;
  padding: 25px;
  border-top: 2px solid var(--border-color);
  gap: 27px;
}

.like__content {
  display: grid;
  grid-template-columns: 1fr min-content;
  position: relative;
  align-items: start;
  justify-items: end;
  padding-inline-end: 25px;
  padding-block-end: 21px;
  gap: 6px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  appearance: none;
  padding-inline-end: 0;
  align-self: center;
}

.like-icon {
  padding-top: 3px;
  cursor: pointer;
  outline: transparent;
  outline-offset: -1px;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  outline: 2px solid var(--border-color);
}

.card__like-button {
  min-width: 130px;
  min-height: 38.5px;
  padding: 6.5px 15px;
  position: relative;
}

.button {
  border: 2px solid var(--border-color);
  background-color: var(--button-back-color);
  cursor: pointer;
  appearance: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--button-color);
  transition: box-shadow 0.3s ease;
}

.button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
  left: 0;
  top: 0;
}

.button:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  position: relative;
  font-family: var(--second-family), Arial, sans-serif;
  font-size: var(--span-text-size);
  line-height: var(--text-line-height);
  color: var(--text-button-color);
  z-index: 1;
  mix-blend-mode: difference;
}

.open-dialog-button {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 9px;
  padding-inline-end: 21px;
  padding-inline-start: 19px;
  padding-block: 15px;
  position: relative;
}

.section__add-memory {
  justify-self: center;
  padding-block-end: 100px;
  position: relative;
}

.floppy {
  width: 21px;
  height: 21px;
  fill: var(--floppy-color);
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
  fill: var(--dialog-floppy-color);
}

.dialog {
  border: 2px solid var(--border-color);
  padding-inline: 30px;
  padding-block: 28.5px;
  gap: 30px;
  background-color: var(--button-back-color);
  align-items: center;
}

.dialog[open] {
  display: grid;
}

.close-button {
  width: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  position: relative;
  padding-block: 7px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.close-button > .button__text {
  text-transform: uppercase;
}

.dialog__text {
  position: relative;
  font-family: var(--second-family), Arial, sans-serif;
  font-size: var(--span-text-size);
  line-height: var(--dialog-text-line-height);
  color: var(--text-button-color);
  z-index: 1;
  mix-blend-mode: difference;
  text-transform: uppercase;
}

@media(width <= 375px) {
  
  .header {
    padding-inline: 0;
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .open-dialog-button {
    flex-direction: column;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding-inline: 40px;
    padding-block: 29.5px;
  }
}