/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Inter';
  --second-family: 'PressStart2P';
  --wgth-font-family: 400;
  --title-wgth-font-family: 700;
  --main-text-size: 18px;
  --span-text-size: 14px;
  --header-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-text-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --text-line-height: 1.16667;
  --dialog-text-line-height: 1.5;
  --back-color: #fff;
  --text-main-color: #000;
  --text-button-color: #fff;
  --border-color: #000;
  --shadow-color: #fff;
  --button-back-color: #fff;
  --button-color: #000;
  --text-line-height: 0.9;
  --floppy-color: #fff;
  --dialog-floppy-color:#000;
  --heart-contour-color: #000;
  --heart-color: #fff;
  --heart-active-color: red;
  --heart-liked-color: red;
  --heart-spark-color: none;
}

@media(width <= 375px) {
  :root {
    --header-title-size: 3.0625rem;
  }
}